@font-face {
    font-family: 'Anticva';
    src: url('fonts/anticva/Anticva-Regular.woff2') format('woff2'),
    url('fonts/anticva/Anticva-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat regular';
    src: url('fonts/montserrat/Montserrat-Regular.woff2') format('woff2'),
    url('fonts/montserrat/Montserrat-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat thin';
    src: url('fonts/montserrat/Montserrat-Thin.woff2') format('woff2'),
    url('fonts/montserrat/Montserrat-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}