.nav-item {
    font-family: 'Anticva';
    font-size: 15px;
}

.footerText {
    font-family: 'Montserrat thin';
}

h5 {
    font-family: 'Anticva';
    font-size: 20px;
}

.form-select {
    border: 2px solid #f5f5f5;
    border-radius: 10px;
    height: 56px;
    width: 100%;
    background-color: #f5f5f5;
}
.form-select:hover {
    cursor: pointer;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

#labelsCalculator option {
    background-color: #f5f5f5 !important;
    color: black;
    font-weight: bold;
}


#buttonCalculator {
    height: 56px;
    width: 100%;
    border: 2px solid #008000;
    border-radius: 10px;
    font-family: 'Anticva';
    font-size: 16px;
    background-color: #008000;
    color: white;
}
#buttonCalculator:hover {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5) !important;
}

#labelsCalculator select {
    font-family: 'Montserrat thin';
    font-weight: bold;
}

main {
    background-color: #f5f5f5;
}


#result {
    height: 50px;
    font-family: 'Montserrat regular';
    font-size: 20px;
}


