/*
 * API Калькулятор расчета стоимости доставки
 * *Калькулятор расчета стоимости доставки* - сервис расчета стоимости доставки ### возможности сервиса   - расчет стоимости доставки   - реестр месяцев доставки   - реестр тоннажей доставки   - реестр типов сырья доставки   - реестр стоимости доставки  Разработчик [{Евгений Шевелев}] ({https://gitlab-dev.efko.ru/}) 
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package org.openapitools.client.api;

import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import org.openapitools.client.model.UNKNOWN_BASE_TYPE;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class TonnagesApi {
    private ApiClient localVarApiClient;

    public TonnagesApi() {
        this(Configuration.getDefaultApiClient());
    }

    public TonnagesApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for apiV1TonnagesDelete
     * @param tonnage  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> успешное удаление </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> не авторизован </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call apiV1TonnagesDeleteCall(Integer tonnage, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v1/tonnages";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (tonnage != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("tonnage", tonnage));
        }

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call apiV1TonnagesDeleteValidateBeforeCall(Integer tonnage, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'tonnage' is set
        if (tonnage == null) {
            throw new ApiException("Missing the required parameter 'tonnage' when calling apiV1TonnagesDelete(Async)");
        }
        

        okhttp3.Call localVarCall = apiV1TonnagesDeleteCall(tonnage, _callback);
        return localVarCall;

    }

    /**
     * Удалить тоннаж по значению
     * 
     * @param tonnage  (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> успешное удаление </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> не авторизован </td><td>  -  </td></tr>
     </table>
     */
    public void apiV1TonnagesDelete(Integer tonnage) throws ApiException {
        apiV1TonnagesDeleteWithHttpInfo(tonnage);
    }

    /**
     * Удалить тоннаж по значению
     * 
     * @param tonnage  (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> успешное удаление </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> не авторизован </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> apiV1TonnagesDeleteWithHttpInfo(Integer tonnage) throws ApiException {
        okhttp3.Call localVarCall = apiV1TonnagesDeleteValidateBeforeCall(tonnage, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     * Удалить тоннаж по значению (asynchronously)
     * 
     * @param tonnage  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> успешное удаление </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> не авторизован </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call apiV1TonnagesDeleteAsync(Integer tonnage, final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = apiV1TonnagesDeleteValidateBeforeCall(tonnage, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }
    /**
     * Build call for apiV1TonnagesGet
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Успешный ответ </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> не авторизован </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call apiV1TonnagesGetCall(final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v1/tonnages";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call apiV1TonnagesGetValidateBeforeCall(final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = apiV1TonnagesGetCall(_callback);
        return localVarCall;

    }

    /**
     * Получить список тоннажей
     * 
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Успешный ответ </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> не авторизован </td><td>  -  </td></tr>
     </table>
     */
    public void apiV1TonnagesGet() throws ApiException {
        apiV1TonnagesGetWithHttpInfo();
    }

    /**
     * Получить список тоннажей
     * 
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Успешный ответ </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> не авторизован </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> apiV1TonnagesGetWithHttpInfo() throws ApiException {
        okhttp3.Call localVarCall = apiV1TonnagesGetValidateBeforeCall(null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     * Получить список тоннажей (asynchronously)
     * 
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Успешный ответ </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> не авторизован </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call apiV1TonnagesGetAsync(final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = apiV1TonnagesGetValidateBeforeCall(_callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }
    /**
     * Build call for apiV1TonnagesPost
     * @param UNKNOWN_BASE_TYPE Данные тоннажа для добавления (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> успешное добавление </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> не авторизован </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call apiV1TonnagesPostCall(UNKNOWN_BASE_TYPE UNKNOWN_BASE_TYPE, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = UNKNOWN_BASE_TYPE;

        // create path and map variables
        String localVarPath = "/api/v1/tonnages";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call apiV1TonnagesPostValidateBeforeCall(UNKNOWN_BASE_TYPE UNKNOWN_BASE_TYPE, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'UNKNOWN_BASE_TYPE' is set
        if (UNKNOWN_BASE_TYPE == null) {
            throw new ApiException("Missing the required parameter 'UNKNOWN_BASE_TYPE' when calling apiV1TonnagesPost(Async)");
        }
        

        okhttp3.Call localVarCall = apiV1TonnagesPostCall(UNKNOWN_BASE_TYPE, _callback);
        return localVarCall;

    }

    /**
     * Добавить тоннаж
     * 
     * @param UNKNOWN_BASE_TYPE Данные тоннажа для добавления (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> успешное добавление </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> не авторизован </td><td>  -  </td></tr>
     </table>
     */
    public void apiV1TonnagesPost(UNKNOWN_BASE_TYPE UNKNOWN_BASE_TYPE) throws ApiException {
        apiV1TonnagesPostWithHttpInfo(UNKNOWN_BASE_TYPE);
    }

    /**
     * Добавить тоннаж
     * 
     * @param UNKNOWN_BASE_TYPE Данные тоннажа для добавления (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> успешное добавление </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> не авторизован </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> apiV1TonnagesPostWithHttpInfo(UNKNOWN_BASE_TYPE UNKNOWN_BASE_TYPE) throws ApiException {
        okhttp3.Call localVarCall = apiV1TonnagesPostValidateBeforeCall(UNKNOWN_BASE_TYPE, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     * Добавить тоннаж (asynchronously)
     * 
     * @param UNKNOWN_BASE_TYPE Данные тоннажа для добавления (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> успешное добавление </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> не авторизован </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call apiV1TonnagesPostAsync(UNKNOWN_BASE_TYPE UNKNOWN_BASE_TYPE, final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = apiV1TonnagesPostValidateBeforeCall(UNKNOWN_BASE_TYPE, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }
}
